@import "tailwindcss";

body {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Chonburi";
  src: url("../assets/fonts/Chonburi-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-zprimary: #141e46;
  --color-zsecondary: #5e7eff;
  --font-chonburi: "Chonburi", sans-serif;
}

@utility zbutton {
  @apply font-bold py-2 px-4 rounded-md border-2 border-b-4 border-r-4 hover:underline active:border-zsecondary active:text-zsecondary active:border-b-2 active:border-r-2 duration-150 ease-linear active:translate-y-0.5 active:translate-x-0.5;
}
